@{
    ViewBag.Title = @Resources.About;
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<img src="@Url.Content("~/content/images/pbawfmfwqva.jpg")" alt="IMAGES" />
