@{
    ViewBag.Title = Resources.EmailConfirmation;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       @Resources.ConfirmSuccessMessage + @Html.ActionLink(Resources.ClickForLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
